player-connection-mode=Listen
player-connection-guid=2057478105
player-connection-debug=0
player-connection-project-name=Witchy-Run
player-connection-ip=10.0.0.110
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9dbb9144a58246d39bd29a29232ff11a
